<% content_for :head do %>
     <link rel="stylesheet" href="/assets/show.css"> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<% end %>

<%= render 'layouts/navbar' %>

<div class='page-body'>
  <div class="show-title">
    <h2>Title:</h2>
    <div><%= @article.title %></div>
    <div class="article-options">
      <% if !@article.user.nil? %>
        <% if current_user.try(:id) == @article.user.id %>
          <%= link_to edit_article_path(@article) do %>
          <svg style="width:28px;height:28px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M10 21H5C3.89 21 3 20.11 3 19V5C3 3.89 3.89 3 5 3H19C20.11 3 21 3.89 21 5V10.33C20.7 10.21 20.37 10.14 20.04 10.14C19.67 10.14 19.32 10.22 19 10.37V5H5V19H10.11L10 19.11V21M7 9H17V7H7V9M7 17H12.11L14 15.12V15H7V17M7 13H16.12L17 12.12V11H7V13M21.7 13.58L20.42 12.3C20.21 12.09 19.86 12.09 19.65 12.3L18.65 13.3L20.7 15.35L21.7 14.35C21.91 14.14 21.91 13.79 21.7 13.58M12 22H14.06L20.11 15.93L18.06 13.88L12 19.94V22Z" />
                      </svg>
          <% end %>
          <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <svg style="width:28px;height:28px" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                      </svg >
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="show-text">    
    <%= @article.text %>
  </div>

  <% if user_signed_in? %>
    <div class="show-author">
      <strong>Author:</strong>
      <% if @article.user.nil? %>
              Anonymous
              <% else %>
              <%= @article.user.first_name%>
              <%= @article.user.last_name%>
            <% end %>      
    </div>
    
    
    
  <br>  
  
  <% end %>

  <%= link_to 'Back', root_path %>
  
</div>
